# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Python files
__pycache__

# Package files
/package/build/
/package/dist/
/package/*.egg-info
/package/VERSION

# Application files
/certs/
/data/
/lib/
/docs/_build/

# External libraries
/bin/
/charts/
/build/

# Terraform files
/cluster/.terraform/
/cluster/.terraform.lock*
/cluster/terraform.tfstate*
/cluster/*.tfvars
/cluster/*.tfplan

# Vagrant files
/.vagrant/
config/vagrant.yml

# Extra files
/tmp/
*.log
