# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode

# Python files
__pycache__

# Vagrant files
/vagrant/config.yml
/.vagrant/

# Ansible files
*.retry
/hosts/inventory.dev.yml
/hosts/hosts.ini

# Kubernetes files
/hosts/credentials/

# Application files
/tmp/

# Extra files
*.log
