# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# Python files
__pycache__

# Vagrant files
/vagrant/config.yml
/.vagrant/

# Docker files
/docker/env.vars

# Kubespray files
/hosts.ini

# Extra files
*.log
