
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
scp_if_ssh = True

[defaults]
log_path = logs/ansible.log
roles_path = roles:kubespray/roles
library = library:kubespray/library

host_key_checking = False
deprecation_warnings = False
gathering = smart

fact_caching = jsonfile
fact_caching_connection = /tmp

stdout_callback = skippy
callback_whitelist = profile_tasks

inventory = hosts/hosts.ini
