# Terminal utilities
terminaltables==3.1.10
colorful==0.5.6

# Security / System access
cryptography==44.0.0
pycryptodome==3.21.0
paramiko==3.5.0
django-cors-headers==4.6.0
pynvml==12.0.0

# Service management
docker==7.1.0
kubernetes==31.0.0
watchdog==6.0.0

# Web server
gunicorn==23.0.0
gevent==24.11.1
greenlet==3.1.1

# Core application
django==5.1.4
psycopg2==2.9.10
django-dbconn-retry==0.1.8
semantic-version==2.10.0
requests==2.32.3

# API capabilities
djangorestframework==3.15.2
uritemplate==4.1.1
coreschema==0.0.4
django-filter==24.3
openapi-spec-validator==0.7.1

# Text and data handling
ply==3.11
pyyaml==6.0.2
oyaml==1.0
inflect==7.4.0
numpy==2.2.0
pandas==2.2.3

# Repository integrations
pygit2==1.16.0
PyGithub==2.5.0

# Templating
Jinja2==3.1.4

# Task management
celery==5.4.0
flower==2.0.1
django-celery-beat==2.7.0

# Caching / Queueing / Object store
redis==5.2.1
django-redis==5.4.0
hiredis==3.1.0
