# Terminal utilities
terminaltables==3.1.10
colorful==0.5.6

# Core application
django==5.1.9

# Text and data handling
pyyaml==6.0.2
oyaml==1.0
pandas==2.2.3

# API capabilities
openapi-spec-validator==0.7.1
