# Utilities
pyyaml==5.4.1
oyaml==1.0
inflect==5.3.0
paramiko==2.7.2
terminaltables==3.1.0
colorful==0.5.4
cryptography==3.4.7
pycryptodome==3.10.1

# Service management
docker==5.0.0

# Web server
gunicorn==20.1.0
gevent==21.1.2
greenlet==1.1.0

# API application
django==3.2.5
django-filter==2.4.0
psycopg2-binary==2.9.1
mysqlclient==2.0.3
djangorestframework==3.12.4
drf-writable-nested==0.6.3
coreapi==2.3.3
coreschema==0.0.4
git+https://github.com/zimagi/django-rest-framework-filters.git@master#egg=djangorestframework-filters

# Data handling
django-timezone-field==4.2.1
pandas==1.3.0
django-pandas==0.6.4
numpy==1.21.0

# Repository integrations
pygit2==1.6.1

# Task management
celery==5.1.2
django-celery-beat==2.2.1
redis==3.5.3
django-db-mutex==2.0.0

# Caching/ Queueing
django-redis==5.0.0
hiredis==2.0.0
