#
# Development dependencies
#

# Code quality
# ------------------------------------------------------------------------------
flake8==7.2.0  # https://github.com/PyCQA/flake8
flake8-isort==6.1.2  # https://github.com/gforcada/flake8-isort
black==25.1.0  # https://github.com/psf/black
djlint==1.36.4  # https://github.com/Riverside-Healthcare/djLint
pylint-django==2.6.1  # https://github.com/PyCQA/pylint-django
pylint-celery==0.3  # https://github.com/PyCQA/pylint-celery
pre-commit==4.2.0  # https://github.com/pre-commit/pre-commit
