# Utilities
pyyaml==5.4.1
oyaml==0.9
inflect==4.1.0
paramiko==2.7.1
terminaltables==3.1.0
colorful==0.5.4
cryptography==3.4.7
pycryptodome==3.9.4

# Service management
docker==4.1.0

# Web server
gunicorn==20.0.4
gevent==20.9.0
greenlet==0.4.17

# API application
django==3.2.4
django-filter==2.4.0
psycopg2-binary==2.8.6
mysqlclient==2.0.1
djangorestframework==3.12.2
drf-writable-nested==0.6.2
coreapi==2.3.3
coreschema==0.0.4
git+https://github.com/zimagi/django-rest-framework-filters.git@master#egg=djangorestframework-filters

# Data handling
django-timezone-field==4.0
pandas==1.1.4
django-pandas==0.6.2
numpy==1.19.4

# Repository integrations
pygit2==1.4.0

# Task management
celery==5.0.2
django-celery-beat==2.1.0
redis==3.5.3
django-db-mutex==2.0.0

# Caching
django-redis==4.12.1
hiredis==1.1.0
