/*
 * Body overrides
 */
.wy-nav-content-wrap {
    background: #fff;
}

/*
 * Navigation bar overrides
 */
.wy-nav-top {
    background: #021026;
}
.wy-nav-top .acronym {
    color: #faf9cd;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.wy-nav-top .name {
    color: #cafabb;
    font-weight: bold;
    margin-left: 10px;
}
.wy-nav-side {
    background: #01060f;
}

/*
 * Navigation search overrides
 */
.wy-side-nav-search {
    background: #021433;
}
.wy-side-nav-search img.logo {
    float: left;
    width: 50px;
    height: 50px;
    background: transparent;
}
.wy-side-nav-search > a {
    padding: 0;
}
.wy-side-nav-search a.icon-home {
    float: left;
    color: #cafabb;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5px;
}
.wy-side-nav-search a.icon-home .acronym {
    color: #faf9cd;
    font-size: 1.4em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.wy-side-nav-search a.icon-home .name {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.wy-side-nav-search div.version {
    color: #fff;
    padding-top: 5px;
    padding-left: 5px;
}

/*
 * Navigation menu overrides
 */
.wy-menu-vertical {
    background: #000;
    padding-top: 5px;
}

/*
 * TOC tree overrides
 */
.wy-nav-content .toctree-wrapper {
    margin-top: 40px;
    padding: 10px 0 0 0;
    border-top: 1px solid #e1e4e5;
}
.wy-nav-content .toctree-wrapper ul {
    margin-bottom: 25px;
}
.wy-nav-content .toctree-wrapper p.caption {
    margin-bottom: 20px;
}
.wy-nav-content .toctree-l1 {
    padding-top: 10px;
}
.wy-nav-content .toctree-l1 > a {
    font-size: 1.2em;
    font-weight: bold;
}
.wy-nav-content .toctree-l1 ul {
    padding-top: 10px;
}

/*
 * Content style overrides
 */
.breadcrumbs hr {
    margin: 20px 0 0 0;
}
h1 {
    padding: 10px 10px 10px 20px;
    margin-bottom: 25px;
    border: 1px solid #e1e4e5;
    color: #021026;
}
h2 {
    margin-top: 40px;
    margin-bottom: 25px;
    padding: 10px 0 0 0;
    border-top: 1px solid #e1e4e5;
}

#mcmi-system-documentation ul.simple {
    margin-bottom: 25px;
}
#mcmi-system-documentation ul.simple li {
    padding-top: 10px;
}
#mcmi-system-documentation ul.simple li p > a {
    font-size: 1.2em;
    font-weight: bold;
}
#mcmi-system-documentation ul.simple ul {
    padding-top: 10px;
}

dl.footnote {
    border: 1px solid #e1e4e5;
    padding: 5px;
    margin: 40px 10px 20px 10px;
}
dl.footnote:before {
    content: 'Citations';
    display: block;
    margin: 5px 5px 15px 5px;
    font-size: 1.2em;
    font-weight: bold;
}
dl.footnote:after {
    content: '';
    display: block;
    clear: both;
}
dl.footnote dt.label {
    float: left;
    width: 10%;
    margin: 0 0 10px 0;
    padding: 5px;
}
dl.footnote dd {
    float: left;
    width: 85%;
    margin: 0 0 10px 10px;
    padding: 0 5px 5px 5px;
    border-top: 1px solid #e1e4e5;
}
dl.footnote dd p {
    margin: 0 0 20px 0 !important;
    padding: 0;
}

ul.simple li > p {
    padding-bottom: 10px;
}

/*
 * Footer style overrides
 */
.rst-footer-buttons {
    margin-top: 35px;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #e1e4e5;
}
footer hr {
    margin: 20px 0;
}