ZIMAGI_APP_NAME=zimagi

ZIMAGI_SECRET_KEY=20181105
ZIMAGI_ADMIN_USER=admin
ZIMAGI_DEFAULT_ADMIN_TOKEN=999999999

POSTGRES_USER=postgres
POSTGRES_PASSWORD=999999999
ZIMAGI_POSTGRES_USER=postgres
ZIMAGI_POSTGRES_PASSWORD=999999999

ZIMAGI_REDIS_PASSWORD=999999999

ZIMAGI_EMAIL_HOST=
ZIMAGI_EMAIL_HOST_USER=
ZIMAGI_EMAIL_HOST_PASSWORD=
ZIMAGI_EMAIL_PORT=587
ZIMAGI_EMAIL_USE_TLS=true
ZIMAGI_EMAIL_SUBJECT_PREFIX='<zimagi test> '

ZIMAGI_GITHUB_ORG=
ZIMAGI_GITHUB_TOKEN=

ZIMAGI_CLIENT_CACHE_LIFETIME=60
