ZIMAGI_SECRET_KEY="20181105"

ZIMAGI_POSTGRES_USER="postgres"
ZIMAGI_POSTGRES_PASSWORD="999999999"
ZIMAGI_REDIS_PASSWORD="999999999"

ZIMAGI_QDRANT_ACCESS_KEY="999999999"

ZIMAGI_GITHUB_ORG=""
ZIMAGI_GITHUB_TOKEN=""

ZIMAGI_USER_PASSWORD="999999999"
ZIMAGI_DATA_KEY="999999999"
ZIMAGI_ADMIN_API_KEY="999999999"
ZIMAGI_ADMIN_API_TOKEN="999999999"

ZIMAGI_PORTALS='{
  "development": {
    "host": "http://localhost:8080",
    "token": "999999999"
  }
}'

ZIMAGI_MAILGUN_DOMAIN="example.com"
ZIMAGI_MAILGUN_API_KEY=""

ZIMAGI_HUGGINGFACE_TOKEN=""
ZIMAGI_DEEPINFRA_API_KEY=""

ZIMAGI_INTERFACE_REPO_REMOTE="git@example.com:user/repo.git"
ZIMAGI_INTERFACE_REPO_REFERENCE="main"
ZIMAGI_INTERFACE_REPO_PUBLIC_KEY=""
ZIMAGI_INTERFACE_REPO_PRIVATE_KEY=""
