ZIMAGI_SECRET_KEY="20181105"

ZIMAGI_POSTGRES_USER="postgres"
ZIMAGI_POSTGRES_PASSWORD="999999999"
ZIMAGI_REDIS_PASSWORD="999999999"

ZIMAGI_GITHUB_ORG=""
ZIMAGI_GITHUB_TOKEN=""

ZIMAGI_USER_PASSWORD="999999999"
ZIMAGI_DATA_KEY="999999999"
ZIMAGI_ADMIN_API_KEY="999999999"
ZIMAGI_ADMIN_API_TOKEN="999999999"
